.App {
  text-align: center;
  background: linear-gradient(#5797f5, tomato) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: blanchedalmond;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.link {
  padding: 1rem;
  width: 280px;
  text-align: center;
  margin: 1rem;
  border-radius: 6px;

  pointer-events: auto;
  background: white;
  font-weight: bold;
  border: 3px solid transparent;
}

.link:hover {
  border: 3px solid black;
}

.link-a {
  text-decoration: none;
  color: black;
}

.footer-text {
  color: white;
}

.footer-text a {
  color: white;
  font-weight: bold;
}